# Test scripts
/**/test*.ipynb

# Folders
data/
input/
output/
model/
tests/
workdir*/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode
**/.R*

# Jupyter notebook checkpoints
.ipynb_checkpoints