# NOTE ---------------------------------------------------------------------------------
# The following command must be issued before running `pip install -r requirements.txt`:
# $ sudo apt-get install -y python3-gdal gdal-bin libgdal-dev gcc g++ python3.8-dev
# --------------------------------------------------------------------------------------
GDAL==3.0.4
alphashape
descartes
geopandas
kaleido
laspy
loguru
matplotlib
numpy
open3d
optuna
pygeohash
pyyaml
rasterio
rasterstats
requests
scikit-learn
segment-geospatial
torch @ https://download.pytorch.org/whl/cu113/torch-1.10.2%2Bcu113-cp38-cp38-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cu113/torchvision-0.11.3%2Bcu113-cp38-cp38-linux_x86_64.whl
visvalingamwyatt
whitebox